<%- include('../partials/header', { totalCart }) %>
<section id="sale">
  <div class="sales">
    <div class="sale-left">
      <div class="sale-image"></div>
      <div class="sale-description">
        <h5 class="sale-description-title">All desserts</h5>
        <h2 class="sale-description-discount">20% OFF</h2>
        <p class="sale-description-description">Dessert</p>
      </div>
    </div>
    <div class="sale-right">
      <div class="sale-image"></div>
      <div class="sale-description">
        <h5 class="sale-description-title">Big burgers</h5>
        <h2 class="sale-description-discount">50% OFF</h2>
        <p class="sale-description-description">Foodies</p>
      </div>
    </div>
  </div>
</section>
<section id="category">
  <div class="category-list">
    <ul class="category-items">
      <li class="category-item mouse">
        <img src="/emoji/pizza.png" alt="" />
        <p>Pizza</p>
      </li>
      <li class="category-item selected">
        <img src="/emoji/burger.png" alt="" />
        <p>Burger</p>
      </li>
      <li class="category-item">
        <img src="/emoji/meat.png" alt="" />
        <p>BBQ</p>
      </li>
      <li class="category-item selected">
        <img src="/emoji/sushi.png" alt="" />
        <p>Sushi</p>
      </li>
      <li class="category-item">
        <img src="/emoji/broccoli.png" alt="" />
        <p>Vegan</p>
      </li>
      <li class="category-item">
        <img src="/emoji/cake.png" alt="" />
        <p>Desserts</p>
      </li>
    </ul>
  </div>
</section>
<section id="restaurants">
  <div class="restaurants-nearby-title">
    <h5>Nearby Restaurants</h5>
  </div>
  <div class="restaurants-list">
    <ul class="restaurants-items">
      <% restaurants.forEach(function(r) { %>
      <li class="restaurants-item">
        <div class="restaurants-details">
          <div class="restaurants-image">
            <img src="<%= r.image_url %>" alt="restaurant" />
            <% if (r.featured === 0) { %>
            <div class="restaurant-featured">FEATURED</div>
            <% }; %>
          </div>
          <div class="restaurants-description">
            <div class="restaurant-name">
              <a href="/order/<%= r.name%>"><h6><%= r.name %></h6></a>
              <div class="restaurant-badge">
                <a href=""
                  ><img src="../../svg/shopping_bag.svg" alt=""
                /></a>
                <% if (r.cart !== 0) { %>
                <div class="restaurant-badge-number"><%= r.cart %></div>
                <% }; %>
              </div>
            </div>
            <div class="restaurant-timer-value">
              <p>
                <img src="/svg/timer.svg" alt="" />&nbsp;<%= r.random1 %>-<%=
                r.random2 %> min • <%= r.price %> • Rating:<strong></strong>
                  <%= r.rating %></strong
                >
                - <%=r.reviews%> reviews
              </p>
            </div>
            <div class="restaurant-type">
              <% r.categories.forEach(function(c) { %>
              <div class="type-food">
                <!-- <img src="/emoji/sushi.png" alt="" /> -->
                <p><%=c %></p>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</section>

<%- include('../partials/footer') %>
